# Ignore specific files with TypeScript errors
src/app/(auth)/reset-password/page.tsx

# Files with any type that need to be fixed later
src/components/auth/auth-form.tsx
src/components/auth/builder-profile-form.tsx
src/components/auth/craftsman-profile-form.tsx
src/components/auth/reset-password-form.tsx
src/components/profile/account-settings.tsx
src/components/profile/profile-form.tsx 